@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.yandex-map {
  height: 60vh;
  width: 100%;
  z-index: 100;
}

.main-box {
  padding: 30px;
}

@media screen and (max-width: 600px) {
  .main-box {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .main-box {
    padding: 10px;
  }
}